.navigationtabs {
    text-align: center;
    display: block;
    float: left;
    width: 100%;
    /*padding: 0 15px;*/
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 50px;
    margin-top: 35px;
}


.navigationtabs--title{
    font-family: "ProximaNovaRegular";
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 0;
}

.navigationtabs--title sup{
    font-family: "ProximaNovaRegular";
    font-size: 12px;
    color: #A0A0A0;
    border: 1px solid #A0A0A0;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: inline-block;
    line-height: 22px;
    top: -22px;
    right: -5px;
}

.navigationtabs--tabs{
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
}

.navigationtabs--tabs li{
    margin-right: 30px;
}

.navigationtabs--tabs li a{
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    border: 1px solid #fff;
    border-radius: 10px;
    font-family: 'ProximaNovaRegular';
    font-size: 10px;
    color: #f14036;
    text-transform: uppercase;
    padding: 7px 15px;
    background-color: #fff;
}

.navigationtabs--tabs li a:hover{
    border: 1px solid #f14036;
    background-color: #fff;
    color: #F14036;
}

.navigationtabs--tabs li.active a, .navigationtabs--tabs li.active a:focus{
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    border: 1px solid #f14036;
    background-color: #F14036;
    color: #fff;
}

.navigationtabs--tabs li.active a:hover{
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    background-color: #F14036;
    color: #fff;
}

.categoryitems__item {
    display: inline-block;
    text-align: center;
    width: 33%;
    margin: 25px 0;
}

.categoryitems__item--weight {
    display: inline-block;
   /* float: left;*/
    font-size: 11px;
    margin-right: 20px;
    font-family: "ProximaNovaRegular";
    font-weight: 600;
    padding-left: 20px;
    background-image: url("../img/44-16.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    color: #A0A0A0;
}

.categoryitems__item--qt {
    display: inline-block;
    /*float: left;*/
    font-size: 11px;
    font-family: "ProximaNovaRegular";
    font-weight: 600;
    background-image: url("../img/food-drink-26-16.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 0 50%;
    color: #A0A0A0;
}

.categoryitems__item a{
    font-family: "ProximaNovaRegular";
    font-weight: 700;
    font-size: 22px;
    color: #F14036;
    display: block;
}

.categoryitems__item img {
    margin: 0 auto;
    max-height: 150px;
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}

.categoryitems__item--price{
    font-family: "ProximaNovaBold";
    color: #000;
    display: block;
    font-size: 16px;
}

.categoryitems__item--numbs{
    display: inline-block;
}

.categoryitems__item--price span{
    display: inline-block;
    /*float: left;*/
}

.categoryitems__item--price--num{
    font-size: 34px;
}

.categoryitems__item--buybtn{
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    line-height: 1;
    outline: none;
    font-family: 'ProximaNovaRegular';
    font-weight: 700;
    font-size: 13px;
    border: 1px solid #F14036;
    color: #F14036;
    background-color: #fff;
    border-radius: 11px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.categoryitems__item--buybtn:hover{
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    background-color: #F14036;
    color: #fff;
}

.categoryitems__item--composition{
    font-family: 'ProximaNovaRegular';
    font-size: 10px;
    color: #A0A0A0;
}

.recomend {
    text-align: center;
}

.recomend h1{
    font-weight: 700;
    text-transform: uppercase;
    font-family: "ProximaNovaRegular";
    font-size: 30px;
    color: #000;
    margin-bottom: 40px;
}

.product{
    text-align: center;
}

.product h1{
    font-weight: 700;
    text-transform: uppercase;
    font-family: "ProximaNovaRegular";
    font-size: 30px;
    color: #000;
}

.product--item--info{
    display: inline-block;
    padding: 10px 20px;
    margin: 30px;
}

.product--item__thumb{
    display: inline-block;
    max-width: 450px;
    max-height: 300px;
    margin: 30px auto;
}

.product--item--info--price{
    font-family: "ProximaNovaBold";
    color: #000;
    display: block;
    font-size: 16px;
    margin: 5px auto;
}

.product--item--info--numbs{
    display: inline-block;
}

.product--item--info--numbs__weight {
    display: inline-block;
    /* float: left;*/
    font-size: 11px;
    margin-right: 20px;
    font-family: "ProximaNovaRegular";
    font-weight: 600;
    padding-left: 20px;
    background-image: url("../img/44-16.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    color: #A0A0A0;
}

.product--item--info--numbs__qt {
    display: inline-block;
    /*float: left;*/
    font-size: 11px;
    font-family: "ProximaNovaRegular";
    font-weight: 600;
    background-image: url("../img/food-drink-26-16.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 0 50%;
    color: #A0A0A0;
}

.product--item--info--price span{
    display: inline-block;
    /*float: left;*/
}

.product--item--info--price__num{
    font-size: 34px;
}

.product--item--info__buybtn{
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    line-height: 1;
    outline: none;
    font-family: "ProximaNovaRegular";
    font-weight: 700;
    font-size: 15px;
    border: 1px solid #F14036;
    color: #F14036;
    background-color: #fff;
    border-radius: 13px;
    text-transform: uppercase;
    padding: 11px 25px;
    margin-bottom: 20px;
}

.product--item--info__buybtn:hover{
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    background-color: #F14036;
    color: #fff;
}

.product--ingredients{
    display: block;
    margin-bottom: 30px;
}

.product--ingredients--item{
    display: inline-block;
}

.product--ingredients p{
    width: 50%;
    margin: 0 auto;
    display: block;
    height: 10px;
    border-bottom: solid 1px #cdcdcd;
    text-align: center;
}

.product--ingredients p span{
    display: inline-block;
    background-color: #fff;
    padding: 0 10px;
    font-family: 'ProximaNovaRegular';
    font-size: 14px;
    font-weight: 700;
}

.product--ingredients--item{
    margin: 25px 10px;
}

.product--ingredients--item img{
    vertical-align: top;
    width: 65px;
    height: 65px;
    border-radius: 25px;
    border: 2px solid #e5e5e5;
    padding: 5px 0;
}

.product--ingredients--item p{
    font-family: 'ProximaNovaRegular';
    font-size: 10px;
    color: #a0a0a0;
    width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
    border: none;
    text-align: center;
    font-weight: 700;
    padding: 10px 0;
}

a.basket__foot--order--noactive {
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    filter: grayscale(50%);
    filter: gray; /* IE 6-9 */  
    opacity: 0.5;
}