@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "ProximaNovaRegular"; */
@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "ProximaNovaBold"; */
@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'ProximaNovaLight';
  src: url("../fonts/ProximaNova/ProximaNovaLight.eot");
  src: url("../fonts/ProximaNova/ProximaNovaLight.eot") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaLight.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNovaLight.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaLight.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaLight.svg#ProximaNovaLight") format("svg"); }
a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.block_title {
  color: #fff;
  font-size: 3.5em;
  text-align: center;
  margin-top: 15px; }

.p0 {
  padding: 0; }

.pr-0 {
  padding-right: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.navigation {
  background-color: #2C2C2C;
  height: 110px;
  -moz-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.11);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.11);
  z-index: 1; }
  .navigation--logo {
    display: block;
    float: left;
    margin-right: 15px;
    width: 12%; }
  .navigation--box {
    display: block;
    float: left;
    position: relative;
    margin-left: 15px;
    width: 100%;
    width: 83%;
    padding: 15px 0; }
    .navigation--box--topline {
      display: block;
      float: left;
      width: 100%;
      padding-bottom: 15px;
      border-bottom: 1px solid #424242;
      margin-bottom: 7px; }
    .navigation--box--contacts {
      display: inline-block;
      float: left;
      position: relative;
      width: 46%; }
      .navigation--box--contacts h4 {
        font-family: "MyriadProRegular";
        text-transform: uppercase;
        font-size: 20px;
        margin: 0 15px 5px 0;
        color: #FFF;
        display: inline-block; }
      .navigation--box--contacts a {
        display: inline-block;
        position: relative;
        margin: 0 0 0 15px; }
        .navigation--box--contacts a i {
          margin-right: 5px;
          color: #F14036; }
        .navigation--box--contacts a span {
          font-family: "ProximaNovaBold";
          font-size: 12px;
          text-decoration: underline;
          color: #F14036;
          text-transform: uppercase; }
      .navigation--box--contacts p {
        display: block;
        float: left;
        position: relative;
        color: #FFF;
        font-size: 10px;
        font-family: "ProximaNovaBold";
        margin-bottom: 0;
        margin: 0 10px; }
        .navigation--box--contacts p:after {
          content: "";
          width: 3px;
          height: 3px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          background-color: #FE3F31;
          display: block;
          position: absolute;
          left: -10px;
          top: 5px; }
        .navigation--box--contacts p:first-of-type {
          margin-left: 0; }
          .navigation--box--contacts p:first-of-type:after {
            content: none; }
    .navigation--box--delivery {
      display: block;
      float: left;
      position: relative;
      width: 30%; }
      .navigation--box--delivery h3 {
        font-family: "ProximaNovaRegular";
        font-size: 20px;
        color: #FFF;
        margin: 0;
        text-transform: uppercase;
        line-height: 27px; }
      .navigation--box--delivery p {
        display: block;
        font-size: 10px;
        color: #FFF;
        font-family: "ProximaNovaBold";
        margin-bottom: 0; }
    .navigation--box--onlinecam {
      display: block;
      float: left;
      width: 22%;
      padding-top: 5px;
      position: relative; }
      .navigation--box--onlinecam a {
        display: block;
        text-decoration: none;
        width: 127px;
        height: 30px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px;
        -o-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ef3f35;
        text-transform: uppercase;
        font-size: 10px;
        font-family: "ProximaNovaRegular";
        text-align: center;
        line-height: 30px;
        color: #EF3F35;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .navigation--box--onlinecam a i {
          margin-right: 5px; }
        .navigation--box--onlinecam a:hover, .navigation--box--onlinecam a:active, .navigation--box--onlinecam a:focus {
          background-color: #EF3F35;
          color: #fff; }
  .navigation--navline {
    display: block;
    float: left;
    position: relative;
    width: 100%; }
    .navigation--navline ul {
      display: block;
      float: left;
      padding: 0;
      margin-bottom: 0; }
      .navigation--navline ul li {
        display: block;
        float: left;
        position: relative; }
        .navigation--navline ul li a {
          font-size: 16px;
          color: #FFF;
          font-family: "ProximaNovaRegular";
          text-transform: uppercase;
          padding-right: 20px;
          text-decoration: none;
          font-weight: 600;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear; }
          .navigation--navline ul li a:hover, .navigation--navline ul li a:active, .navigation--navline ul li a:focus {
            color: #FE3F31; }
        .navigation--navline ul li:after {
          content: "";
          width: 3px;
          height: 3px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          background-color: #FE3F31;
          display: block;
          position: absolute;
          right: 7px;
          top: 45%; }
        .navigation--navline ul li:last-of-type:after {
          content: none; }

.basket {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #F6F6F6;
  z-index: 2; }
  .basket--width {
    padding: 0 0 0 30px; }
  .basket__head {
    display: block;
    position: fixed;
    top: 0;
    height: 110px;
    background-color: #F13f35; }
    .basket__head h3 {
      text-align: center;
      color: #FFF;
      text-transform: uppercase; }

@media only screen and (max-width: 770px) {
  .align-left {
    text-align: center; }

  .align-right {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
