.navigation {
	background-color: #2C2C2C;
	height: 110px;
	-moz-box-shadow: 0 8px 12px rgba(0,0,0,.11);
	-webkit-box-shadow: 0 8px 12px rgba(0,0,0,.11);
	box-shadow: 0 8px 12px rgba(0,0,0,.11);
	z-index: 1;
	&--logo {
		display: block;
		float: left;
		margin-right: 15px;
		width: 12%;
	}
	&--box {
		display: block;
		float: left;
		position: relative;
		margin-left: 15px;
		width: 100%;
		width: 83%;
		padding: 15px 0;	
		&--topline {
			display: block;
			float: left;
			width: 100%;
			padding-bottom: 15px;
			border-bottom: 1px solid #424242;
			margin-bottom: 7px;			
		}	
		&--contacts {
			display: inline-block;
			float: left;
			position: relative;
			width: 46%;
			h4 {
				font-family: $mp;
				text-transform: uppercase;
				font-size: 20px;
				margin: 0 15px 5px 0;
				color: #FFF;
				display: inline-block;
			}
			a {
				display: inline-block;
				position: relative;
				margin: 0 0 0 15px;				
				i {
					margin-right: 5px;
					color: #F14036;
				}
				span {
					font-family: $b;
					font-size: 12px;
					text-decoration: underline;
					color: #F14036;
					text-transform: uppercase;
				}
			}
			p {
				display: block;
				float: left;
				position: relative;
				color: #FFF;
				font-size: 10px;
				font-family: $b;
				margin-bottom: 0;
				margin: 0 10px;
				&:after {
					content: "";
					width: 3px;
					height: 3px;
					@include border-radius(50%);
					background-color: #FE3F31;
					display: block;
					position: absolute;
					left: -10px;
					top: 5px;
				}
				&:first-of-type {
					margin-left: 0;
					&:after {
						content: none;
					}
				}
			}
		}
		&--delivery {
			display: block;
			float: left;
			position: relative;
			width: 30%;
			h3 {
				font-family: $r;
				font-size: 20px;
				color: #FFF;
				margin: 0;
				text-transform: uppercase;
				line-height: 27px;
			}
			p {
				display: block;
				font-size: 10px;
				color: #FFF;
				font-family: $b;
				margin-bottom: 0;
			}
		}
		&--onlinecam {
			display: block;
			float: left;
			width: 22%;
			padding-top: 5px;
			position: relative;
			a {
				display: block;
				text-decoration: none;
				width: 127px;
				height: 30px;
				@include border-radius(10px);
				@include background-clip(padding-box);
				border: 1px solid #ef3f35;
				text-transform: uppercase;
				font-size: 10px;
				font-family: $r;
				text-align: center;
				line-height: 30px;
				color: #EF3F35;
				@include transition(0.2s);
				i {
					margin-right: 5px;
				}
				&:hover, &:active, &:focus {
					background-color: #EF3F35;
					color: #fff;
				}
			}
		}
	}
	&--navline {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		ul {
			display: block;
			float: left;
			padding: 0;
			margin-bottom: 0;
			li {
				display: block;
				float: left;
				position: relative;				
				a {
					font-size: 16px;
					color: #FFF;
					font-family: $r;
					text-transform: uppercase;
					padding-right: 20px;
					text-decoration: none;
					font-weight: 600;
					@include transition(0.2s);
					&:hover, &:active, &:focus {
						color: #FE3F31;
					}
				}
				&:after {
					content: "";
					width: 3px;
					height: 3px;
					@include border-radius(50%);
					background-color: #FE3F31;
					display: block;
					position: absolute;
					right: 7px;
					top: 45%;
				}
				&:last-of-type {
					&:after {
						content: none;
					}
				}
			}
		}
	}
}