.main__wrapper {
	width: 100%;
	display: block;
	float: left;
	position: relative;
	padding-top: 110px;
}

.main__carousel {
	height: 650px;
	position: relative;
    margin-bottom: 0!important;
	&--item {
		height: 650px!important;
		display: block;
		position: relative;
		@include overflow-img;
		 img {
		 	max-width: 150%;
		 	max-height: 150%;
		    width: auto;
		    height: 100%;		    
		}
		&--content {
			display: block;
			float: left;
			position: absolute;
			z-index: 10;
			top: 65px;
			left: 15px;
			right: 15px;
			padding-bottom: 50px;
			h2 {
				font-family: $b;
				text-transform: uppercase;
				font-weight: 900;
				font-size: 40px;
				color: #FFF;
				display: block;
				float: left;
				width: 100%;
				margin-bottom: 30px;
				span {
					background-color: #F14036;
					padding: 5px 10px;
					display: block;
					float: left;
				}
			}
			&_bord {
				display: block;
				width: 68px;
				height: 2px;
				background-color: #fff;
				float: left;
			}	
			h3 {
				font-family: $b;
				text-transform: uppercase;
				font-weight: 900;
				font-size: 30px;
				color: #FFF;
				display: block;
				float: left;
				width: 100%;
				margin-top: 30px;
				margin-bottom: 30px;
			}
			p.sushi--title {
				font-family: $r;
				font-weight: 700;
				margin-bottom: 20px;
				margin-top: 0;
				color: #FFF;
				text-transform: uppercase;
				padding-left: 30px;
				background-image: url('../img/131-32.png');
				background-repeat: no-repeat;
				background-position: 0 50%;
				display: block;
				float: left;
				width: 100%;
			}
			a.go-to-more {
				display: block;
				float: left;
				position: relative;
				margin: 10px 0;
				text-align: center;
				color: #FFF;
				font-size: 18px;
				font-family: $r;
				font-weight: 700;
				text-transform: uppercase;
				padding: 10px 30px;
				text-decoration: none;
				@include border-radius(12px);
				@include background-clip(padding-box);
				background-color: #f13f35;
				@include transition(0.2s);
				&:hover, &:active, &:focus {
					background-color: darken(#F13F35, 10%);
				}
			}
		}
	}
}

.advantages {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	text-align: center;
	padding: 50px 0;
	&__icon {
		display: block;
		height: 124px;
		line-height: 124px;
		width: 124px;
		margin: 0 auto;
	}
	&__title {
		display: flex;
		vertical-align: middle;
		line-height: 60px;
		align-items: center;
		text-align: center;
		justify-content: center;
		min-height: 60px;
		line-height: 60px;
		padding: 0 15px;
		margin-bottom: 15px;
		h4 {
			font-family: $r;
			font-weight: 700;			
			color: #000;
			margin: 0;
			font-size: 16px;
			text-transform: uppercase;			
		}
	}
	&__desc {
		padding: 0 15px;
		p {
			font-size: 14px;
			color: #7F7F7F;
			font-family: $r;
			font-weight: 700;
		}
	}
}

.social-media {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 40px 0;
	background-color: #D8D9DB;
	background-image: url('../img/Layer-12-2.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	h3 {
		font-size: 20px;
		text-transform: uppercase;
		color: #263A47;
		font-family: $r;
		font-weight: 700;
		margin: 0;
		line-height: 25px;
	}
	&--icon-wrap  {
		a {
			display: block;
			float: left;
			position: relative;
			margin-left: 10px;
			width: 50px;
			height: 50px;
			@include border-radius(20px);
			border: 2px solid #263A47;
			color: #2A3E4A;
			text-align: center;
			font-size: 19px;
			line-height: 50px;
			@include transition(0.2s);
			&:hover {
				background-color: #263A47;
				color: #D8D9DB;
				@include border-radius(20px);
				border: 2px solid #263A47;
			}
		}
	}
}

.reviews {
	display: block;
	float: left;
	width: 100%;
	position: relative;
	padding: 50px 0;
	h1 {
		text-transform: uppercase;
		color: #000;
		text-align: center;
		font-size: 24px;
		font-family: $r;
		font-weight: 700;
	}
	&__carousel {
		&__item {
			padding-right: 30px;
			padding-left: 15px;
			margin: 15px 0;
			&--img {
				width: 67px;
				height: 67px;
				@include border-radius(33px);
				display: block;
				margin: 15px auto;
				@include overflow-img;

			}
			h3 {
				text-align: center;
				text-transform: uppercase;
				font-size: 16px;
				font-family: $r;
				font-weight: 700;
			}
			p {
				font-size: 14px;
				font-family: $r;
				font-weight: 500;
				color: #7F7F7F;
			}
			small {
				font-family: $r;
				font-weight: 500;
				color: #7F7F7F;
				font-size: 10px;
				margin-top: 15px;
			}
		}
	}
	&__all {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		text-align: center;
		margin-top: 10px;
		a {
			color: #EF4036;
			font-size: 14px;
			font-family: $r;
			font-weight: 700;
			&:hover {
				color: #EF4036;
			}
		}
	}
}

.cookathome {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 40px 0;
	background-image: url('../img/Layer-14-1.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	h3 {
		font-size: 20px;
		text-transform: uppercase;
		color: #fff;
		font-family: $r;
		font-weight: 700;
		margin: 0;
		line-height: 25px;
	}
	a {
		display: block;
		position: relative;
		margin: 0 auto;
		width: 50px;
		height: 50px;
		@include border-radius(20px);
		background-color: #DD3C34;
		color: #fff;
		text-align: center;
		font-size: 19px;
		line-height: 50px;
		@include transition(0.2s);
		&:hover {
			background-color: darken(#DD3C34, 10%);
			color: #fff;
			@include border-radius(20px);
		}
	}	
}

.sitedescription {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 40px 0 60px;
	h2 {
		font-weight: 700;
		font-family: $r;
		text-transform: uppercase;
		text-align: center;
		color: #000;
		font-size: 24px;
		margin-bottom: 30px;
	}
	p {
		font-family: $r;
		font-weight: 700;
		color: #7F7F7F;
		font-size: 14px;
	}
	.showmore--but {
		margin-top: -25px;
		padding-top: 25px;
		position: absolute;
		width: 100%;
		background-color: #fff;
		background: -moz-linear-gradient(top,rgba(255,255,245,0) 0,rgba(255,255,245,1) 38%);
		background: -webkit-linear-gradient(top,rgba(255,245,255,0) 0,rgba(255,255,245,1) 38%);
		background: -ms-linear-gradient(top,rgba(255,255,245,0) 0,rgba(255,255,245,1) 38%);
		background: linear-gradient(top,rgba(255,255,245,0) 0,rgba(255,255,245,1) 38%);
		a {
			font-size: 14px;
			color: #EF4036;
			font-weight: 700;
			font-family: $r;
		}	
	}
	a.showmore--but--less {
		font-size: 14px;
		color: #EF4036;
		font-weight: 700;
		font-family: $r;
	}
}